@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    cursor: none;
    color: #393A3D;
} 

::selection {
    background-color:#393A3D;
    color: white; /* Optional: Change text color for better visibility */
}

::-moz-selection {
    background-color: #393A3D;
    color: white;
}


::-webkit-scrollbar {
    display: none;
  }